

<!DOCTYPE html>
<html lang="en">
   <head>
       <%- include('./fracment/head'); %>
   </head>
   <!-- body -->
   <body class="main-layout inner_posituong computer_page">

       <%- include('./fracment/nav'); %>
      
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>Nuestra Empresa</h2>
                     <p>Somos una empresa dedicada a la importación comercialización y distribución masiva de productos informáticos, nuevos y usados, ofrecemos servicio técnico, mantenimiento de equipos y sistemas informáticos, consultoría, protección de datos. Dando soluciones a empresas, profesionales y usuarios particulares en todo el territorio nacional. Brindamos precios bajos y competitivos del mercado dando la posibilidad a todas las personas de adquirir un equipo de excelente calidad.</p>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="images/about.jpg" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>

       <%- include('./fracment/footer'); %>

   </body>
</html>

