<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./fracment/head'); %>
   </head>
   <!-- body -->
   <body class="main-layout inner_posituong">
     <%- include('./fracment/nav'); %>
      <!-- products -->
       <%- include('./fracment/product'); %>
      <!-- end products -->
      <!--  footer -->
       <%- include('./fracment/footer'); %>
   </body>
</html>