

<!DOCTYPE html>
<html lang="en">
   <head>
      <%- include('./fracment/head'); %>
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- end loader -->
      <!-- header -->
      <%- include('./fracment/nav'); %>
      <!-- end header inner -->
      
      <!--  contact -->
      <div id="clear">
             <%- include('./fracment/contact'); %>
      </div>
      <!-- end contact -->
      <!--  footer -->
      <%- include('./fracment/footer'); %>
   </body>
</html>

