<head>
    <%- include('./fracment/head'); %>
 </head>                      </div>
   <!-- body -->
   <body class="main-layout inner_posituong">
    <%- include('./fracment/nav'); %>

    <div  class="products">
        <div lass="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img" src="" alt="Card image cap">
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Detalle de producto</h5>
                                <p class="card-text"></p>
                                <p class="card-text"><small class="text-muted">Descripción:</small></p>
                                <p class="card-text"><small class="text-muted">Precio:</small></p>
                                <p class="card-text"><small class="text-muted">Cantidad:</small></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
        

</body>
</html>